/* STIKHOI v.4: CSS for rendering verse snippets on
   the web, with a special eye toward Greek & Latin
   poetry. Use with stikhoi.js for prettier numbers.

   Author: Den McHenry
*/

/* FONT STYLES FOR PRETTY GREEK & LATIN */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|GFS+Didot|Gentium+Book+Basic:400,400italic,700&subset=latin,greek);

body {
  font-family: "Source Sans Pro", sans-serif;
}

[lang=grc] {
  font-family: "GFS Didot", serif;
  font-size: 1.2em;
}

[lang=lat] {
  font-family: "Gentium Book Basic", serif;
  font-size: 1.25em;
}

/* Suppress line numbers. */
ol.verse {
  margin-left: 2em;
  padding-left: 0.5em;
}
ol.verse li {
  list-style-type: none;
  padding: 0.1em 0;
}

/* Reveal line numbers conditionally based
	on the value of the start attribute. */
[start$="1"] li:nth-child(5n),
[start$="2"] li:nth-child(5n+4),
[start$="3"] li:nth-child(5n+3),
[start$="4"] li:nth-child(5n+2),
[start$="5"] li:nth-child(5n+1),
[start$="6"] li:nth-child(5n),
[start$="7"] li:nth-child(5n+4),
[start$="8"] li:nth-child(5n+3),
[start$="9"] li:nth-child(5n+2),
[start$="0"] li:nth-child(5n+1) {
  list-style-type: decimal;
}

/* Indent even numbered lines for couplets. */
[start$="1"].couplets li:nth-child(2n),
[start$="2"].couplets li:nth-child(2n+1),
[start$="3"].couplets li:nth-child(2n),
[start$="4"].couplets li:nth-child(2n+1),
[start$="5"].couplets li:nth-child(2n),
[start$="6"].couplets li:nth-child(2n+1),
[start$="7"].couplets li:nth-child(2n),
[start$="8"].couplets li:nth-child(2n+1),
[start$="9"].couplets li:nth-child(2n),
[start$="0"].couplets li:nth-child(2n+1) {
  text-indent: 1em;
}

/* STROPHES */
/* Proper indentation for strophes. This varies depending
	upon which line in the pattern begins the citation.
	Lines within a strophe are given letters: A, B, C, & D. */

ol:not(.from-B):not(.from-C).indent-3 li:nth-child(3n+3),
.from-B.indent-3 li:nth-child(3n+2),
.from-C.indent-3 li:nth-child(3n+1),
ol:not(.from-B):not(.from-C):not(.from-D).indent-4 li:nth-child(4n+4),
.from-B.indent-4 li:nth-child(4n+3),
.from-C.indent-4 li:nth-child(4n+2),
.from-D.indent-4 li:nth-child(4n+1) {
  text-indent: 1em;
  padding-bottom: 1em;
}

ol:not(.from-B):not(.from-C).indent-3-4 li:nth-child(4n+3),
.from-B.indent-3-4 li:nth-child(4n+2),
.from-C.indent-3-4 li:nth-child(4n+1),
.from-D.indent-3-4 li:nth-child(4n) {
  text-indent: 1em;
}

ol:not(.from-B):not(.from-C):not(.from-D).indent-3-4 li:nth-child(4n+4),
.from-B.indent-3-4 li:nth-child(4n+3),
.from-C.indent-3-4 li:nth-child(4n+2),
.from-D.indent-3-4 li:nth-child(4n+1) {
  text-indent: 2em;
  padding-bottom: 1em;
}

/* JAVASCRIPT-DEPENDENT STYLES */

/* A CSS counter that replaces the native
   numbering of ordered lists. */

/* Conceal line numbers in each ordered list. */
ol.verse.jQuery li {
  list-style-type: none;
}

/* Replace the OL with a CSS counter. */
ol.verse.jQuery {
  counter-reset: poem;
  display: inline-block;
}

/* Each line item is counted. */
ol.verse.jQuery li {
  counter-increment: poem;
}

/* Prepare to display the counter after each line. */
ol.verse.jQuery li:after {
  content: counter(poem);
  float: right;
  padding-left: 3em;
  color: #666;
  font-family: "Gentium Book Basic";
  font-size: 1rem;
}

/* Suppress the counter. */
ol.verse.jQuery li:after,
ol.verse.jQuery li:after {
  visibility: hidden;
}

/* Reveal counter where desired. */
[start$="1"].jQuery li:nth-child(5n):after,
[start$="2"].jQuery li:nth-child(5n+4):after,
[start$="3"].jQuery li:nth-child(5n+3):after,
[start$="4"].jQuery li:nth-child(5n+2):after,
[start$="5"].jQuery li:nth-child(5n+1):after,
[start$="6"].jQuery li:nth-child(5n):after,
[start$="7"].jQuery li:nth-child(5n+4):after,
[start$="8"].jQuery li:nth-child(5n+3):after,
[start$="9"].jQuery li:nth-child(5n+2):after,
[start$="0"].jQuery li:nth-child(5n+1):after {
  visibility: visible;
}
