/* STIKHOI v.3: CSS for rendering verse snippets on
   the web, with a special eye toward Greek & Latin
   poetry.

   Author: Den McHenry
*/

/* This is a block of verse, 30 ems wide and centered. */
.verse {
  counter-reset: line-prior;
  margin: 0 auto;
  width: 30em;
  padding: 1.5em 3em;
}

.verse p {
  margin: 0.125em;
  padding: 0.125em;
}

/* Count the lines, but hide the count. */
.verse > p:before {
  counter-increment: line-prior;
  content: counter(line-prior);
  visibility: hidden;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;*/
}

/* Display every 5th line for snippets preceded by a line ending with
   a 0 or a 5. */
.zero p:nth-child(5n+5):after, .five p:nth-child(5n+5):after {
  content: counter(line-prior);
  color: #666;
  font-size: 75%;
  line-height: 150%;
  visibility: visible;
  float: right;
}

/* Display every 5th line for snippets preceded by a line ending with
   a 1 or a 6. */
.one p:nth-child(5n+4):after, .six p:nth-child(5n+4):after {
  content: counter(line-prior);
  color: #666;
  font-size: 75%;
  line-height: 150%;
  visibility: visible;
  float: right;
}
/* Display every 5th line for snippets preceded by a line ending with
   a 2 or a 7. */
.two p:nth-child(5n+3):after, .seven p:nth-child(5n+3):after {
  content: counter(line-prior);
  color: #666;
  font-size: 75%;
  line-height: 150%;
  visibility: visible;
  float: right;
}

/* Display every 5th line for snippets preceded by a line ending with
   a 3 or a 8. */
.three p:nth-child(5n+2):after, .eight p:nth-child(5n+2):after {
  content: counter(line-prior);
  color: #666;
  font-size: 75%;
  line-height: 150%;
  visibility: visible;
  float: right;
}

/* Display every 5th line for snippets preceded by a line ending with
   a 4 or a 9. */
.four p:nth-child(5n+1):after, .nine p:nth-child(5n+1):after {
  content: counter(line-prior);
  color: #666;
  font-size: 75%;
  line-height: 150%;
  visibility: visible;
  float: right;
}

/* Indent even lines if the verse is quoted from an odd line. */
.zero.couplets > p:nth-child(2n+0),
.two.couplets > p:nth-child(2n+0),
.four.couplets > p:nth-child(2n+0),
.six.couplets > p:nth-child(2n+0),
.eight.couplets > p:nth-child(2n+0)  {
  text-indent: 1.5em;
}

/* Indents even lines if the verse is quoted from an even line. */
.one.couplets > p:nth-child(2n+1),
.three.couplets > p:nth-child(2n+1),
.five.couplets > p:nth-child(2n+1),
.seven.couplets > p:nth-child(2n+1),
.nine.couplets > p:nth-child(2n+1)  {
  text-indent: 1.5em;
}